# Ignore credentials and token files
credentials.json
token.json

# Ignore PyCharm project files
.idea/

# Ignore virtual environment directory
venv/

# Ignore environment variable files
.env

# Ignore macOS system files
.DS_Store

# Ignore log files
*.log

# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/